*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shape{
    margin: 10px;
    margin-bottom: 50px;
    height:200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: normal;
}
#circle{
    border-radius: 50%;
}
#diamond{
    rotate: 45deg;
    height: 160px;
    width: 160px;
    translate: 20px;
}
#diamond h1{
    rotate: -45deg;
}
#square:hover{
    background-color: brown;
}
#diamond:hover{
    background-color: darkblue;
}
#circle:hover{
    background-color: darkgreen;
}